body {
	font-family: "Roboto", sans-serif;
}

h1 {
	text-align: center;
	letter-spacing: 2px;
	background: rgb(135, 206, 235);
	margin: 0;
	border-bottom: 2px solid rgb(88, 134, 152);;
	box-shadow: 0px 5px 2px 0px rgb(88, 134, 152);
	;
	padding: 10px 20px;
	text-transform: uppercase;
	font-size: 1.5em;
	font-weight: 400;
}

#titleContainer {
	width: 360px;
	margin: 0 auto;
	background: #f7f7f7;
	padding: 25px;
	box-shadow: black 0px 5px;
}

#container {
	width: 360px;
	margin: 0 auto;
	background: #f7f7f7;
	padding: 25px;
}

#toDoInput {
	display:flex;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

li {
	background: #fff;
	padding-left: 10px;
	line-height: 2em;
	margin: 0;
	color: #666;
	cursor: pointer;
}

li:nth-child(2n) {
	background: #f7f7f7;
}

li.clicked {
	color: gray;
	text-decoration: line-through;
}

input#addToDo {
	font-size: 18px;
	color: #2980b9;
	border: none;
	width: 80%;
	padding: 10px 10px 10px 20px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-border-box: border-box;
}
input::placeholder {
	color: #bbb;
}

input#addToDo:focus {
	background: white;
	outline: none;
	transition: 0.1s;
}

i.fa-trash {
	margin: 7px;
}

button {
	background:white;
	border:none;
	width:20%;
	color:#ddd;
	cursor: pointer;
}

.d-flex {
	display:flex;
	width:100%;
}